* {
  padding: 0;
  margin: 0;
}
/* Fonts */
.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

/* Web */
.buttons-holder {
  transition: all 0.5s;
}
.navbar-holder {
  background-color: rgba(0, 73, 144);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
}

.nav-btns {
  outline: 0 !important;
  border: 0 !important;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.nav-btns:hover {
  transform: translateY(-6px);
  color: rgb(27, 133, 219);
}

.icon {
  font-size: 25px;
}
/* Nav Button */
.itsme {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: transparent;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
}
.nav-name-span {
  font-weight: bold;
}
.itsme:hover {
  color: black;
}

.itsme:after {
  content: "";
  background: rgb(123, 179, 198);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.itsme:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Gituhb btn */

.git-btn {
  display: grid;
  place-items: center;
  background: #e3edf7;

  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  margin-top: 3%;
}

.git-btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.git-btn svg {
  transition: transform 0.5s;
}

.git-btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}
.nav-links {
  transition: all 0.3s;
}
.nav-links:hover {
  transform: translateY(-6px);
  color: aqua !important;
}
.menu-icon {
  font-size: 38px;
  transition: all 0.5s;
}
.sidebar {
  background-color: rgb(40, 104, 169);
  transform: translateX(-100%);
  box-shadow: rgba(12, 5, 5, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  border-radius: 0px 70px 70px 0px;
  transition: all 0.7s;
  width: 300px;
}
.sidebar-animation {
  transform: translateX(0%);
  animation: sidebar-anim 0.7s;
  transition: all 0.7s;
}
@keyframes sidebar-anim {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.menu-icon:hover {
  transform: translate(-5px, -5px);
  color: rgb(0, 255, 255) !important;
}
/* Flip sidebar-btn */
.btn-flip {
  opacity: 1;
  outline: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    width: 100%;
    color: aqua;
    display: block;
    transition: all 0.3s;
    position: absolute;
    content: "Full-stack Developer";
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: all 0.3s;
    position: relative;

    content: "Hey, I'm Aqib";
    transform: translateY(0) rotateX(0);
  }
}
.mdi--arrow-left-bold {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M20 9v6h-8v4.84L4.16 12L12 4.16V9z'/%3E%3C/svg%3E");
}
.close-btn-sidenav:hover {
  transform: scale(1.2);
}

.name-sec-h1 {
  font-size: 70px;
  font-family: "Comic Neue", cursive;
  font-weight: bolder;
  font-weight: 900;
  color: white;
}
.name-sec-h12 {
  font-size: 50px;
  font-family: "Comic Neue", cursive;
  font-weight: normal;
  color: white;
}
.name-sec-h1-span {
  color: aqua;
  font-weight: bolder;
  text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
}
.name-sec-h5 {
  font-family: "Comic Neue", cursive;
  color: white;
  font-size: 25px;
}

.name-sec {
  /* background-color: rgb(4, 25, 47); */
  background-image: linear-gradient(
    to bottom,
    #004990,
    #003a6e,
    #002b4c,
    #061c2d,
    #01080f
  );
}
.bi-instagram,
.bi-telegram,
.bi-facebook,
.bi-whatsapp,
.bi-linkedin {
  color: white;
  transition: all 0.3s;
  font-size: 25px;
}
.bi-instagram:hover {
  color: rgb(49, 197, 197);
  transform: translateY(-10px);
}
.bi-telegram:hover {
  color: rgb(49, 197, 197);
  transform: translateY(-10px);
}
.bi-facebook:hover {
  color: rgb(49, 197, 197);
  transform: translateY(-10px);
}
.bi-linkedin:hover {
  color: rgb(49, 197, 197);
  transform: translateY(-10px);
}
.bi-whatsapp:hover {
  color: rgb(49, 197, 197);
  transform: translateY(-10px);
}
.name-sec-left-icons {
  width: 40vh;
}
.name-sec-right {
  transition: all 1s;
}
.name-sec-left-holder {
  transition: all 1s;
}
.name-sec-left-holder:hover {
  opacity: 50%;
}
@media only screen and (max-width: 700px) {
  .name-sec-left {
    margin-bottom: 110px;
  }
  .name-sec-h1 {
    font-size: 40px;
  }
  .name-sec-h12 {
    font-size: 30px;
  }
  .name-sec-h5 {
    font-size: 15px;
  }
  .nav-row-1 {
    gap: 20px;
  }
  .name-sec {
    height: 69vh !important;
  }
  #particles-js {
    height: 52vh !important;
  }
  
}
@media only screen and (max-width: 450px) {
  .name-sec-left {
    height: 50vh;
  }
  .name-sec {
    height: 55vh !important;
  }

  #particles-js {
    height: 55vh;
  }
  
}
#particles-js {
  height: 83vh;
}
.service-section {
  background-image: linear-gradient(
    to bottom,
    #010910,
    #061826,
    #01233c,
    #002e54,
    #00396d
  );
}
.service-section-h1 {
  font-family: "Comic Neue", cursive;
  font-size: 50px;
}

/* cards */
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: rgb(4, 59, 87);
  -webkit-box-shadow: 1px 1px 12px #000000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;

  background-color: rgb(18, 85, 121);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px rgb(8, 168, 255);
  box-shadow: 1px 1px 12px rgb(0, 162, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 26px;

  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
.book-h1 {
  top: 40;

  font-family: "Comic Neue", cursive;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgb(131, 124, 124),
    rgb(18, 251, 255),
    rgb(51, 166, 237)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 205s linear infinite;
}
@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}
.book-ul {
  top: 75;
  list-style: none;
  right: 50;
  color: white;
  font-family: "Comic Neue", cursive;
  font-size: 20px;
}
.book-ul ::marker {
  content: "⚛";
  color: wheat;
}
