*
{
    padding: 0;
    margin: 0;
}


  .buttons-holder
  {
    transition: all 0.5s;
  }
  .navbar-holder
  {
    background-color: rgba(0, 73, 144);
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
      rgba(0, 73, 144, 0.5) 5px 10px 15px;

  }
  
  .nav-btns {
    
    outline: 0 !important;
    border: 0 !important;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .nav-btns:hover {
    transform: translateY(-6px);
   color: rgb(27, 133, 219);
  }
  
  .icon {
    font-size: 25px;
   
  }
  /* Nav Button */
 .itsme {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 73, 144);
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
      rgba(0, 73, 144, 0.5) 5px 10px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 80%;
  }
  
.itsme:after {
    content: "";
    width: 0%;
    height: 100%;
    background: lightblue;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
.itsme:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
.itsme span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
.itsme:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }